<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fzm.push" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="${HUAWEI_PUSH_ID}" />
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="${VIVO_PUSH_KEY}" />
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="${VIVO_PUSH_ID}" />

        <activity
            android:name="com.fzm.push.SystemPushActivity"
            android:launchMode="singleTask"
            android:exported="true" />

        <!--魅族push应用定义消息receiver声明 -->
        <receiver android:name=".MyMeizuPushReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
